# Ignorar cualquier directorio input y output
**/input/*
**/output/*

# No ignorar los archivos .gitkeep dentro de carpetas
!**/.gitkeep

# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.RDataTmp
